body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header {
  /* Фиксируем header вверху экрана */
  position: fixed;
  top: 0;
  padding: 15px;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: left;
}

.nav_container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

main {
  margin-top: 60px;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  background: linear-gradient(90deg, #f0f0f4, #d9def3, #a1b7ee);
}
/* 5. Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
  .header-container {
    padding: 0.75rem 1rem;
  }

  main {
    margin-top: 70px; /* Меньший отступ для мобильных */
    padding: 1.5rem;
    border-radius: 0; /* Убираем скругление на мобильных */
  }
}

footer {
  background: -webkit-linear-gradient(90deg, #1f2c51, #1f2c51, #000000);
  background: linear-gradient(90deg, #1f2c51, #1f2c51, #000000);
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  border-radius: 0px 0px 8px 8px;
}
.footerClass p {
  color: white;
}
